:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* RESET TOTAL : Plus de marges, plus de scrollbars */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #050505; /* Noir très léger */
  overflow: hidden; /* CRUCIAL : Empêche le scroll natif */
  display: block;
}